.load {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  position: absolute;
  -webkit-animation: goaway 10000ms forwards;
          animation: goaway 10000ms forwards;
}
.load__text {
  display: flex;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
  border-radius: 50%;
}
.load__text b {
  transform: scaleY(0);
  -webkit-animation: texttransform_in 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
          animation: texttransform_in 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
}
.load__text b:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.load__text b:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.load__text b:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.load__text b:nth-child(4) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.load__text b:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.load__text b:nth-child(6) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.load__text b:nth-child(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.load__text b:nth-child(8) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.load__text b:nth-child(9) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.load__text b:nth-child(10) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

@-webkit-keyframes goaway {
  0% {
    z-index: 100;
    opacity: 1;
  }
  95% {
    z-index: 10;
    opacity: 0.9;
  }
  100% {
    z-index: -100;
    opacity: 0;
  }
}

@keyframes goaway {
  0% {
    z-index: 100;
    opacity: 1;
  }
  95% {
    z-index: 10;
    opacity: 0.9;
  }
  100% {
    z-index: -100;
    opacity: 0;
  }
}
@-webkit-keyframes texttransform_in {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }
  75% {
    transform-origin: 50% 0%;
    transform: scaleY(1);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scaleY(0);
  }
}
@keyframes texttransform_in {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }
  75% {
    transform-origin: 50% 0%;
    transform: scaleY(1);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scaleY(0);
  }
}
html {
  box-sizing: border-box;
}

.rest__menu h3 {
  margin: 0px;
  margin-top: 5px;
}

.rest__menu p {
  margin: 0;
  padding-bottom: 15px;
}

.footer p {
  margin: 3px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  position: relative;
}

.header {
  background-color: #ffffff;
  justify-content: center;
  margin-top: 25px;
  padding-left: 0%;
  box-shadow: 0px 5px 20px -15px lightgray;
}

.header__form {
  background-color: #e6e6e6;
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 105px;
  gap: 15px;
  padding-top: 15px;
}

.header__img {
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 105px;
  align-items: center;
}

.fas.fa-map-marker-alt::before {
  margin-right: 10px;
}

.how {
  background-color: #ffffff;
  width: 100%;
  height: 150px;
  padding-bottom: 160px;
  padding-top: 20px;
}
.how__title {
  margin-left: 15px;
}
.how__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: -7px;
  gap: 10px;
}
.how__instr {
  margin-left: 30px;
  border-radius: 20px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  text-align: left;
  width: 85%;
  background-color: #F8F8F8;
  box-shadow: 0.1em 0.2em 0.2em #e6e6e6;
}
.how__descr {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 700;
  margin-left: 10px;
}
.how__instr:hover {
  background-color: #e3d2f6;
}
.how__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: -30px;
  background-color: #9356DC;
  color: white;
}
.how__icon {
  width: 20px;
  margin-left: 5px;
  text-align: center;
  color: #9b9b9b;
}
.how__icon:hover {
  color: #9356DC;
}

.menu {
  display: flex;
  padding-bottom: 50px;
  background-color: #F8F8F8;
  flex-direction: column;
  align-items: center;
}
.menu__info {
  font-size: 20px;
  margin-left: -10px;
  margin-top: 40px;
}
.menu__infos {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin-right: -10px;
  margin-bottom: 30px;
}
.menu__p {
  margin-top: -30px;
  margin-bottom: 30px;
  font-weight: 100;
}

.rest {
  background-color: #F8F8F8;
  padding-bottom: 70px;
}
.rest .rest__menu p {
  font-weight: 100;
}
.rest__link {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
.rest__head {
  margin-left: 15px;
  padding-top: 50px;
}
.rest__btn {
  border-radius: 55px;
  width: 190px;
  color: white;
  padding: 10px 11px 10px 10px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0.3em 0.5em 0.9em #bfbfbf;
}
.rest__wrapper {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 2%;
}
.rest__menu {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.rest__imgs {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -55px;
     object-position: 0px -55px;
  width: 100%;
  height: 170px;
  margin-top: -43px;
  border-radius: 10px 10px 0px 0px;
}
.rest__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -155px;
     object-position: 0px -155px;
  width: 100%;
  height: 170px;
  margin-top: -43px;
  border-radius: 10px 10px 0px 0px;
}
.rest__info {
  color: white;
  margin-left: -25px;
}
.rest__card {
  background-color: #ffffff;
  width: 95%;
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 0.1em 0.2em 0.2em #e6e6e6;
}

.solid {
  position: absolute;
  opacity: 0;
  font-size: 1.25rem;
  transition: opacity 3000ms 100% width;
  background: linear-gradient(rgb(250, 184, 66), #31A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(250, 184, 66);
}

.target {
  position: relative;
  outline: solid blue 0px;
  top: -50px;
  left: 90%;
  font-size: 1.5rem;
}

.target:hover .solid {
  opacity: 100%;
  font-size: 1.5rem;
  transition: opacity 3000ms;
  background: linear-gradient(rgb(250, 184, 66), #31A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(250, 184, 66);
}

.outline {
  position: absolute;
  opacity: 100%;
  transition: opacity 3000ms;
}

.target:hover .outline {
  opacity: 0;
  transition: opacity 3000ms;
  font-size: 1.5rem;
}

.new {
  position: relative;
  top: 15px;
  bottom: 90%;
  width: 50px;
  margin-left: 240px;
  padding: 5px 10px 5px 30px;
  background-color: #99E2D0;
  color: #419d86;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  align-items: center;
  border-radius: 5%;
}

.fas, .fa .how {
  font-size: 15px;
}

.fas.fa-utensils::before {
  margin-right: 10px;
}

.fas.fa-hands-helping:before {
  margin-right: 10px;
}

.footer {
  background-color: #383838;
}
.footer__info {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 30px;
  margin-left: 15px;
  gap: 5px;
}
.footer__img {
  filter: invert(1);
  height: 17px;
  margin-top: 30px;
  margin-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin-left: -90px;
  }
  .header__form {
    margin-left: -85px;
  }
  .new {
    left: 54%;
  }
  .menu {
    padding-bottom: 15px;
  }
  .menu__info {
    margin-left: -550px;
  }
  .menu__infos {
    margin-left: -510px;
  }
  .menu__p {
    margin-left: -510px;
  }
  .rest__btn {
    position: absolute;
    left: 70%;
    bottom: 90%;
  }
  .target {
    left: 95%;
  }
  .far.fa-heart outline::before {
    margin-left: 120px;
  }
  .far.fa-heart .solid::before {
    margin-left: 120px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    margin-left: -90px;
  }
  .header__form {
    margin-left: -85px;
  }
  .new {
    left: 54%;
  }
  .menu {
    padding-bottom: 15px;
    margin-left: -522px;
  }
  .menu__info {
    margin-left: -250px;
  }
  .menu__infos {
    margin-left: -210px;
  }
  .rest__btn {
    position: absolute;
    left: 70%;
    bottom: 90%;
  }
  .target {
    left: 95%;
  }
  .far.fa-heart outline::before {
    margin-left: 120px;
  }
  .far.fa-heart .solid::before {
    margin-left: 120px;
  }
}/*# sourceMappingURL=main.css.map */