body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

.link_underline {
  color: black;
  margin-left: 20px;
  font-weight: 100;
  -webkit-text-decoration: #99E2D0 underline;
          text-decoration: #99E2D0 underline;
  line-height: 1;
  position: relative;
}
.link_underline .link_underline:after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.28, 0.995);
}
.link_underline .link_underline:hover .link_underline:after {
  transform: scaleX(1);
  transform-origin: 0 0;
}

.header__img {
  margin-top: 20px;
  margin-left: 65px;
  padding-bottom: 10px;
}

.fas.fa-arrow-left::before {
  margin-left: 30px;
}

.menu {
  display: flex;
  padding-bottom: 50px;
  background-color: #F8F8F8;
  flex-direction: column;
  background-color: #F8F8F8;
}
.menu__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
}
.menu__head {
  margin-left: 20px;
  background-color: #F8F8F8;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
}

.entree {
  margin-top: -10px;
}

.en__card {
  transform: translateX(-0.75em);
  transition: transform 200ms;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-weight: 600;
  transition: 0.3s;
  background-color: #ffffff;
  width: 95%;
  margin: auto 0;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px gray;
}

.en__card p {
  margin: 5px;
  gap: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.en__card::before {
  display: inline-block;
  width: 2.6em;
  opacity: 0;
  transition: opacity 200ms;
}

.en__card:hover {
  transform: none;
  color: #fff;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.en__card:hover::before {
  opacity: 1;
  color: #fff;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.card__head {
  font-weight: 700;
  margin: 0;
  padding-top: 10px;
}

.far.fa-heart::before {
  margin-left: 200px;
}

.whatever {
  border-radius: 55px;
  color: white;
  width: 160px;
  margin-top: 20px;
  margin-left: 100px;
  padding: 2px 0px 0px 40px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0.3em 0.5em 0.9em #bfbfbf;
}
.whatever__p {
  margin-left: -40px;
  padding: 0%;
}

.load {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  position: absolute;
  -webkit-animation: goaway 10000ms forwards;
          animation: goaway 10000ms forwards;
}
.load__text {
  display: flex;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
  border-radius: 50%;
}
.load__text b {
  transform: scaleY(0);
  -webkit-animation: texttransform_in 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
          animation: texttransform_in 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
}
.load__text b:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.load__text b:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.load__text b:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.load__text b:nth-child(4) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.load__text b:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.load__text b:nth-child(6) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.load__text b:nth-child(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.load__text b:nth-child(8) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.load__text b:nth-child(9) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.load__text b:nth-child(10) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.footer {
  background-color: #383838;
  margin: 0;
}
.footer__info {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 30px;
  margin-left: 15px;
  gap: 5px;
}
.footer__img {
  filter: invert(1);
  height: 17px;
  margin-top: 30px;
  margin-left: 15px;
}

.footer p {
  margin: 3px;
}

.fas.fa-utensils::before {
  margin-right: 10px;
}

.fas.fa-hands-helping:before {
  margin-right: 10px;
}

@-webkit-keyframes goaway {
  0% {
    z-index: 100;
    opacity: 1;
  }
  95% {
    z-index: 10;
    opacity: 0.9;
  }
  100% {
    z-index: -100;
    opacity: 0;
  }
}

@keyframes goaway {
  0% {
    z-index: 100;
    opacity: 1;
  }
  95% {
    z-index: 10;
    opacity: 0.9;
  }
  100% {
    z-index: -100;
    opacity: 0;
  }
}
@-webkit-keyframes texttransform_in {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }
  75% {
    transform-origin: 50% 0%;
    transform: scaleY(1);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scaleY(0);
  }
}
@keyframes texttransform_in {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }
  75% {
    transform-origin: 50% 0%;
    transform: scaleY(1);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scaleY(0);
  }
}/*# sourceMappingURL=pages.css.map */