   //variables
    $primary-color:#9356DC;
    $secondary-color:#FF79DA;
    $tertiary-color:#99E2D0;



    .load {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        position: absolute;
        
        animation: goaway 10000ms forwards;
        
        &__text {
            display: flex;
            animation: spin 1s ease-in-out infinite;
            border-radius: 50%;
            b {
                transform: scaleY(0);
                animation: texttransform_in 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
                @for $i from 0 to 10 {
                    &:nth-child(#{$i+1}) {
                        animation-delay: #{$i * 0.15}s;
                    }
                }
            }
            }
        }

@keyframes goaway {
    0%{
      z-index: 100;
      opacity: 1;
    }
    
    95% {
      z-index: 10;
      opacity: 0.9;
    }
    
    100% {
      z-index: -100;
      opacity: 0;
    }
  }

        @keyframes texttransform_in {
            0% {
              transform-origin: 50% 100%;
              transform: scaleY(0)
            } 25% {
              transform-origin: 50% 100%;
              transform: scaleY(1)
            } 75% {
              transform-origin: 50% 0%;
              transform: scaleY(1)
            } 100% {
              transform-origin: 50% 0%;
              transform: scaleY(0)
            }
          }


html {
    box-sizing: border-box;
}

.rest__menu h3 {
    margin: 0px;
    margin-top:5px;
}

.rest__menu p {
    margin:0;
    padding-bottom: 15px;
}

.footer p {
    margin:3px;
}
       
body {
    font-family: 'Roboto', sans-serif;
   margin: 0 auto; 
    position: relative;
}

.header {
    background-color: #ffffff;
    justify-content: center;
    margin-top:25px;
    padding-left:0%;
    box-shadow: 0px 5px 20px -15px lightgray;
}

.header__form {
    background-color: #e6e6e6;
    // margin-bottom:10px;
    width:100%;
    font-size: 15px;
    padding-bottom:20px;
    padding-left:25%;
    gap: 15px;
    padding-top: 15px;
}

.header__img {
    width: 150px;
    height: 30px;
    padding-bottom: 5px;
    padding-left: 25%;
    align-items: center;
}

.fas.fa-map-marker-alt::before {
    margin-right: 10px;
}



.how {
    background-color:#ffffff;
    width:100%;
    height: 150px;
    padding-bottom: 160px;
    padding-top:20px;
    

        &__title {
            margin-left: 15px;
        }

        &__wrapper {
            display:flex;
            flex-direction:column;
            margin-left:-7px;
            gap:10px;
        }

        &__instr {
        
            margin-left:30px;
            border-radius:20px;
            border:1px solid #e6e6e6;
            padding:20px;
            text-align: left;
            width:85%;
            background-color:#F8F8F8;
            box-shadow:0.1em 0.2em 0.2em #e6e6e6;
        }

        &__descr {
            font-family: 'Roboto', sans-serif;
            color:black;
            font-weight: 700;
            margin-left:10px;
        }

        &__instr:hover {
            background-color:#e3d2f6;
        }

        &__number {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            margin-left: -30px;
            background-color: $primary-color;
            color: white;
          }
          
          &__icon {
            width: 20px;
            margin-left: 5px;
            text-align: center;
            color:#9b9b9b;
          }
          &__icon:hover {
            color: #9356DC;
        }
}

.menu {
    display:flex;
    padding-bottom:50px;
    background-color:#F8F8F8;
    flex-direction: column;
    align-items: center;

        &__info {
            font-size: 20px;
            margin-left:-10px;
            margin-top:40px;
        }

        &__infos {
            display: flex;
            flex-direction: column;
            font-weight:100;
            margin-right:-10px;
            margin-bottom:30px;
        }

        &__p{
            margin-top:-30px;
            margin-bottom:30px;
            font-weight:100;
        }
}

.rest {
    background-color:#F8F8F8;
    padding-bottom:70px;
    // border:5px solid blue;
    .rest__menu p {
        font-weight: 100;
    }

        &__link {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
        }

        &__head {
            background-color:#F8F8F8;
            margin-left: 15px;
            // margin-top: -10px;
            // margin-bottom: -50px;
            margin-left: 15px;
            padding-top: 10px;
        }

        &__btn {
            border-radius: 55px;
            width: 190px;
            color: white;
            padding: 10px 11px 10px 10px;
            background-image: linear-gradient($secondary-color, $primary-color);
            border: none;
            box-shadow: 0.3em 0.5em 0.9em #bfbfbf;
        }

        &__wrapper {
            
            width: 100%;
            align-items:center;
            justify-content: space-between;
            border-radius: 2%;
            // margin-left: 15px;
            
        }

        &__menu {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            margin-left: 10px;
            border-radius: 50%;
            // padding-bottom:15px;
            background-color: #ffffff;
        }

        &__imgs {
            // outline: blue 2px solid;
            object-fit:cover;
            object-position: -0px -55px;
            width: 100%;
            height: 170px;
            // margin-top: -43px;
            border-radius: 10px 10px 0px 0px;
        }

        &__img {
            // outline: blue 2px solid;
            object-fit:cover;
            object-position: -0px -155px;
            width: 100%;
            height: 170px;
            // margin-top: -43px;
            border-radius: 10px 10px 0px 0px;
        }

        &__info {
            color:white;
            margin-left: -25px;
        }

        &__card {
            position: relative;
            background-color: #ffffff;
            // outline: green 2px solid;
            width:95%;
            border-radius: 10px;
            margin-top: 15px;
            margin-left:10px;
            box-shadow:0.1em 0.2em 0.2em #e6e6e6;
        }
}

.solid {
    position: absolute;
    opacity: 0;
    font-size: 1.25rem;
    transition: opacity 3000ms 100% width;
    background: linear-gradient(rgba(250,184,66, 1), #31A);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(250,184,66, 1);
}

.target {
    position: relative;
    outline: solid blue 0px;
    top:-50px;
    left:90%;
    font-size:1.5rem;
}

.target:hover .solid {
    opacity:100%;
    // width: 100%;
    font-size:1.5rem;
    transition: opacity 3000ms; 
    background: linear-gradient(rgba(250,184,66, 1), #31A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(250,184,66, 1);
  }

  .outline {
    position: absolute;
    opacity: 100%;
    transition: opacity 3000ms;
  }
  
  .target:hover .outline {
    opacity: 0;
    // width: 100%;
    transition: opacity 3000ms;
    font-size:1.5rem;
  }
  

.new {
    position: absolute;
    // top:15px;
    margin: 0;
    top: 1%;
    right: 1%;
    width: 50px;
    // margin-left:240px;
    // margin-right: 60px;
    padding: 5px 10px 5px 30px;
    background-color: $tertiary-color;
    color: #419d86;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    align-items: center;
    border-radius: 5%;
  }

  .fas,.fa .how {
    font-size: 15px;
  }

.fas.fa-utensils::before {
   margin-right:10px;
}
.fas.fa-hands-helping:before {
    margin-right:10px;
    
}


.footer {
    background-color:#383838;
        &__info {
            display:flex;
            font-family: 'Roboto',sans-serif;
            color:#ffffff;
            flex-direction: column;
            margin-top: 10px;
            padding-bottom:30px;
            margin-left:15px;
            gap: 5px;
        }

        &__img {
            filter: invert(1);
            height: 17px;
            margin-top: 30px;
            margin-left: 15px;
        }
    }

    //tablet version//
@media screen and (min-width:768px) and (max-width:1023px){
    
.header {
    margin-right:90%;
}

.header__img {
    margin-left: 1%;
}

.header__form {
    margin-left: -180px;
}

.fas-fa-map-marker-alt {
    margin-left: -100px;
}

.menu {
    padding-bottom:15px;
}

.menu__info {
    margin-left: -550px;
}

.menu__infos {
    margin-left: -510px;
}

.menu__p {
    margin-left: -510px;
}

.rest__btn {
    position:absolute;
    left: 70%;
    bottom: 90%;
}

.target {
    left: 95%;
}

.far.fa-heart outline::before {
    margin-left: 120px;
}

.far.fa-heart .solid::before {
    margin-left: 120px;
}
}

//desktop version//
@media screen and (min-width:1024px) and (max-width:1280px) {


.header {
    // margin: 0;
    margin-right: 90%;
}

.header__form {
    margin-left: -275px;
}

.menu {
    padding-bottom:15px;
}

.menu__infos {
    margin-right: 72%;
}

.menu__info {
    margin-right: 75%;
}

.menu__p {
    margin-right: 85%;
}

.rest__btn {
    position:absolute;
    left: 70%;
    bottom: 90%;
}

.target {
    left: 95%;
}
}
